@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

:root {
    --backgrond: #000;
    --text-color: #fff;
    --button: #8257e5;
    --border: #29292e;
    --border-menu-mobile: #a8a8b3;
    --text-color-menu-mobile: #e1e1e6;
}

.invisible {
    display: none;
}

.button-take {
    border: 2px solid var(--button);
    background-color: var(--backgrond);
    border-radius: 6px;
    width: 200px;
    height: 40px;

    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--backgrond);
}

/* MENU */

header {
    width: 100%;
    padding: 20px 0;
}

#menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

#menu #logo {
    margin-left: 150px;
}

#logo-mobile {
    display: none;
}

#menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    transition: ease-in-out 2s linear;
}

#menu-list li {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#menu-list li a {
    text-decoration: none;
    color: var(--text-color);
}

#menu-hamburguer {
    display: none;
}

/* CONTAINER MAIN */
main {
    width: 100%;
    margin-top: 2rem;
}

#container-mobile {
    display: none;
}

#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container h1 {
    font-family: "Manrope", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: var(--text-color);

    margin: 0 auto;
}

#container h2 {
    font-family: "Manrope", sans-serif;
    font-size: 80px;
    font-weight: 700;

    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
        -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#container img {
    height: 100%;
}

#blur-images {
    width: 100vw;
    height: 100%;
}

#blurOne {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#blurTwo {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

#blurMobile {
    display: none;
}

@media (max-width: 600px) {
    header {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;

        transition: ease 2s linear;
    }

    #menu {
        border-bottom: 1px solid var(--border);
        padding-bottom: 10px;
        width: 100%;
        gap: 0;
        justify-content: space-between;
        background-color: var(--backgrond);
    }

    #menu #logo {
        display: none;
    }

    #logo-mobile {
        display: flex;
        margin-left: 20px;
    }

    #menu-list {
        flex-direction: column;
        justify-content: flex-start;
        width: 99%;
        gap: 0;
        background-color: var(--backgrond);
        position: absolute;
        margin-top: 370px;

        transition: ease-in-out 2s linear;

        display: none;
    }

    #menu-list li {
        border-bottom: 1px solid var(--border-menu-mobile);
        width: 100%;
        padding: 20px 0;
    }

    #menu-list li:hover {
        border-left: 5px solid var(--button);
    }

    #menu-list li a {
        gap: 0;
        padding-left: 20px;
        color: var(--text-color-menu-mobile);
        opacity: 0.8;
    }

    #menu-list li:hover a {
        color: var(--text-color);
        opacity: 1;
    }

    #menu #take {
        display: none;
    }

    #menu-hamburguer {
        display: flex;
        margin-right: 20px;
        background-color: var(--backgrond);
        border: none;
    }

    main {
        margin-top: 70px;
    }

    #container-mobile {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #container-mobile h3 {
        font-family: "Manrope", sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: var(--text-color);
        text-align: center;
        width: 55%;
        margin-top: 4rem;
    }

    #container-mobile #take {
        margin: 5rem 0 5rem 0;
    }

    #container h1,
    #container h2 {
        font-size: 50px;
    }

    #container img {
        max-width: 600px;
        width: 100%;
        margin-top: 1rem;
    }

    #blurOne,
    #blurTwo {
        display: none;
    }

    #blurMobile {
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    #menu-buguer-close:hover {
        transform: rotate(45deg);
    }
}
